.attribution { font-size: 0.687rem; text-align: center; }
.attribution a { color: var(--att-clr); }

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --att-clr: hsl(228, 45%, 44%);
  --yellow-clr: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
}

body {
  background: var(--yellow-clr);
  display: grid;
  height: 100vh;
  place-content: center;
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
}

.container {
  max-width: 327px;
  background: white;
  padding: 1.5em;
  border-radius: 1.25em;
  display: grid;
  gap: 1.5em;
  border: 1px solid var(--gray-950);
  box-shadow: 8px 8px 0 #000;
  margin-bottom: 2em;
}

.image {
  width: 100%;
  background-color: var(--yellow-clr);
  border-radius: .625em;
}

.content {
  margin: 0;
  display: grid;
  gap: 0.75em;
}

p {
  margin: 0;
}

.tag {
  width: fit-content;
  padding: 0.51em 0.96em;
  border-radius: 0.25em;
  background: var(--yellow-clr);
  font-size: 0.75rem;
  font-weight: 950;
}

.date {
  color: var(--gray-950);
  font-size: 0.75rem;
}

.heading {
  font-size: 1.25rem;
  font-weight: bolder;
  color: var(--gray-950);
}

.heading:hover {
  color: var(--yellow-clr);
}

.para {
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--gray-500);
  font-weight: normal;
}

.author {
  display: flex;
  align-items: center;
}

img {
  width: 32px;
  margin-right: .8em;
}

.avatarName {
  font-weight: bold;
  font-size: 0.875rem;

}

@media screen and (min-width: 1440px){
  .container {
    max-width: 384px;
  }
}